@font-face { 
    font-family: 'Junegull';
    src: url('../fonts/Junegull.woff') format('woff'), url('../fonts/Junegull.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}
